* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
}

header {
  background-color: #122A57;
  height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
}

header .list-items {
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: #fff;
}

header .menu {
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.btn-hero {
  background-color: #122A57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  width: 220px;
  height: 50px;
  display: block;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid #122A57;
}

.btn-hero:hover {
  background-color: #fff;
  color: #122A57;
  border: 2px solid #122A57;
  font-weight: 700;
  transition: 0.2s;
}

.presentation {
  min-height: 200px;
}

.presentation h1 {
  color: #122A57;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: #122A57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  width: 180px;
  height: 30px;
  display: block;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #122A57;
}

.btn:hover {
  background-color: #fff;
  color: #122A57;
  border: 2px solid #122A57;
  font-weight: 700;
  transition: 0.2s;
}

#description {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
  margin-bottom: 50px;
}

#description h2 {
  font-size: 32px;
  color: #122A57;
  display: flex;
  margin-bottom: 20px;
}

#description h2::before {
  content: " ";
  height: 50px;
  width: 3px;
  margin-right: 5px;
  background-color: #122A57;
  position: relative;
}

#description p {
  margin-bottom: 10px;
  width: 90%;
}

#description img {
  min-width: 420px;
}

.external-container {
  background-color: #122A57;
  width: 100%;
}

#services {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

.services-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px
}

#services h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-list .service-item {
  text-align: center;
}

.service-item a {
  width: 220px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  padding: 5px 10px;
  color: #122A57;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #fff;
}

.service-item a:hover {
  background-color: #122A57;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  transition: 0.2s;
}

.service-item p {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
}

.service-item img {
  width: 80%;
  margin: auto;
}

#plans {
  flex-direction: column;
  min-height:100vh;
  padding-top: 80px;
}

#plans h2 {
  font-size: 32px;
  color: #122A57;
}

.plan-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.plan-item {
  flex: 1;
  border: 3px solid #122A57;
  margin-right: 20px;
  padding: 10px;
  border-radius: 12px;
  max-width: 240px;
}

.plan-item .btn {
  margin: auto;
  margin-bottom: 20px;
}

.plan-item h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.plan-item h3::after {
  content: "";
  background-color: #122A57;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.plan-item ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.plan-item ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.plan-item ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122A57;
  margin-right: 5px;
}
