<div class="bg-dark">
  <h1 class="text-info bg-dark text-center py-3">Hey Angular</h1>

  <!-- Atribute directives -->
  <div
    class="py-3"
    [ngStyle]="{
      background: count < 5 ? '#263238' : '#263238',
      color: count < 5 ? '#FFEB3B' : '#00E676'
    }"
  >
    <h2 [ngClass]="{ custom: count > 5 }" class="text-center">
      Contador: {{ count }}
    </h2>
  </div>

  <!-- Structures directives -->
  <h2 class="text-center text-success py-3" *ngIf="count > 7; else menor">
    O contador passou de 7
  </h2>

  <ng-template #menor>
    <h2 class="text-center text-secondary py-3">
      Aqui o contador é menor que 7!
    </h2>
  </ng-template>

  <ul [ngSwitch]="count" class="list-group mx-auto col-3 py-3">
    <li class="list-group-item text-center" *ngSwitchCase="3">É igual a 3.</li>
    <li class="list-group-item text-center" *ngSwitchCase="5">É igual a 5.</li>
    <li class="list-group-item text-center" *ngSwitchCase="7">É igual a 7.</li>
    <li class="list-group-item text-center" *ngSwitchDefault>
      Esse é o default.
    </li>
  </ul>

  <ul class="list-group mx-auto col-3 py-3 my-3">
    <li class="list-group-item text-center" *ngFor="let pessoa of pessoas">
      O nome da pessoa é {{ pessoa.firstName }} {{ pessoa.lastName }} e ela tem
      {{ pessoa.age }} anos.
    </li>
  </ul>

  <h2 class="text-center mb-3 text-info">*ngFor with bootstrap cards</h2>

  <!-- ngFor Cards dados vindos do services - people services injectable-->
  <!-- <div class="row">
    <div
      class="card mx-auto p-3 mb-3"
      *ngFor="let pessoa of pessoas"
      style="width: 18rem"
    >
      <div class="card-body">
        <h5 class="card-title">{{pessoa.firstName}} {{pessoa.lastName}}</h5>
        <h6 class="card-subtitle mb-2 text-info">{{pessoa.age}} anos</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{pessoa.occupation}}</h6>
        <p class="card-text">
          {{pessoa.description}}
        </p>
        <a href="#" class="card-link">{{pessoa.email}}</a>
      </div>
    </div>
  </div> -->

  <!-- Sao as mesmas cartas comentadas de cima, porem está vindo de um componente dentro do shared - components - list -->
  <app-list></app-list>

  <!-- One way data binding -->
  <div class="container text-center mb-3 mx-auto p-3">
    <h2 class="mb-3" appMarcaTexto corDeFundo="black" corDoTexto="gray">
      {{ nome }}
    </h2>
    <button
      type="button"
      class="btn btn-secondary btn-lg px-3"
      (click)="clicou('Morena')"
    >
      Clique
    </button>
  </div>

  <!-- Two way data binding -->
  <div class="col-4 mx-auto p-3">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Digite aqui..."
      [(ngModel)]="text"
    />
    <h4 class="text-info mb-3">Saída: {{ text }}</h4>
  </div>

  <div class="container mx-auto my-5">
    <div class="row d-flex align-items-center justify-content-center">
      <h2 class="text-center p-3 text-info">
        LISTAGEM DE PERSONAGENS RICK E MORTY
      </h2>
      <div class="col-12">
        <app-list-api></app-list-api>
      </div>
    </div>
  </div>
</div>
