.container {
  max-width: 400px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  margin-bottom: 15px;
}

.font {
  font-size: 46px;
}

.item {
  background-color: blueviolet;
  margin: 5px;
  text-align: center;
  color: white;
}

.column {
  flex-direction: column;
  min-height: 350px;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
